:root {
  --blanco: #fff;
  --fuente: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: var(--fuente);
  background: #0d0d0d;
  color: var(--blanco);
}

/* NAVBAR */
.navbar {
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo img {
    height: 45px;
  }

  .menu {
    display: flex;
    gap: 28px;

    a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      transition: 0.3s;

      &:hover {
        color: white;
      }
    }
  }
}

/* RESERVAS */
.reserva-section {
  padding: 40px;
  text-align: center;

  h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
}

.mesas-grid {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.mesa-card {
  width: 200px;
  background: #1a1a1a;
  padding: 15px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid transparent;

  &:hover {
    transform: scale(1.05);
    border-color: white;
  }

  h3 {
    margin: 0;
  }

  p {
    margin-top: 10px;
    font-weight: bold;

    &.libre {
      color: lightgreen;
    }
  }

  &.ocupada {
    background: #550000;
    p {
      color: #ff9a9a;
    }
  }
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #1a1a1a;
  padding: 30px;
  width: 350px;
  border-radius: 15px;
  text-align: center;

  input {
    width: 90%;
    padding: 10px;
    margin-top: 12px;
    border-radius: 5px;
    border: none;
  }

  .btns {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }

  .btn-reservar {
    background: green;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 8px;
  }

  .btn-cancelar {
    background: #444;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 8px;
  }

  .btn-login {
    background: #0077ff;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    color: white;
  }
}

/* FOOTER */
footer {
  margin-top: 50px;
  background: #050505;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}
