# Git
.git
.gitignore
.gitattributes

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDEs
.idea
*.iws
*.iml
*.ipr
.vscode/
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Others
README.md
*.md
!RENDER_DEPLOY_GUIDE.md
